.wrapper {
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #F5F5F5;
  font-family: system-ui;
}

/*-------------------------scrollbar-------------------*/
body::-webkit-scrollbar

/*SIZE*/
  {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: #1f2028;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 50px;
}

/*-----------HEADER-----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #292929;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.box-logo {
  width: 205px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .box-logo img {
  width: 90%;
  height: 90%;
  object-fit: cover;

}

header .box-page {
  display: flex;
  column-gap: 10%;
  width: 379px;
}

header .box-page a {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */
  color: #191919;
  text-decoration: none;
}

header .page-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 1px transparent;
  transition: all 0.5s;
}

header .page-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 1px transparent;
  transition: all 0.5s;
}

header .page-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 1px transparent;
  transition: all 0.5s;
}

header .page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 1px transparent;
  transition: all 0.5s;
}

/*-------ANIMATION HEADER---------*/

header .box-page .page-search a {
  color: #0276AB;
}

header .box-page .page-search:hover {
  border-bottom: #0276AB solid 1px;
}

header .box-page .page-home a:hover {
  color: #0276AB;
}

header .box-page .page-home:hover {
  border-bottom: #0276AB solid 1px;
}

header .box-page .page-tip a:hover {
  color: #0276AB;
}

header .box-page .page-tip:hover {
  border-bottom: #0276AB solid 1px;
}

header .box-page .page-login a:hover {
  color: #0276AB;
}

header .box-page .page-login:hover {
  border-bottom: #0276AB solid 1px;
}

/*------------------------------BODY--------------------------*/
/*----------SECTION 1-----------*/
section {
  margin-top: 145px;
  margin-bottom: 75px;
  height: 140px;
  background: #ECECEC;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

section form{
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}



section .search {
  width: 440px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  display: flex;
  align-items: center;

  padding-right: 6px;
  outline: none;
  border: none;

  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 120px;
}

section .search input:focus {
  outline: none;
}

section .search::placeholder {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  text-align: left;

  color: rgba(0, 0, 0, 0.5);
}

section label {
  position: relative;
}

section .btn-search {
  position: absolute;
  top: 5px;
  left: 335px;
  width: 100px;
  height: 40px;

  background: #A7DCFE;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #0276AB;
}

section .recipe {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background: #B8F6CA;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #0F5152;
  cursor: pointer;
}

/*-----------------------*/
.divide {
  width: 1070px;
  height: 0px;
  border: 1px solid #0276AB;
  margin: auto;

  margin-bottom: 35px;
}

/*--------------SEECTION 2----------------*/
.section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

/*-----------------LEFT-------------*/
.section-2 .left {
  width: 240px;
  height: fit-content;
  padding: 15px 15px;

  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
/*---------------------- Meal type ----------------------*/

.left-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.left-type p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #000000;
}

.left-type-box{
  width: fit-content;
}

.left-type-box input[type="checkbox"] {
  display: none;
}

.left-type-box .checkmark {
  width: fit-content;
  height: fit-content;
  background-color: #F0F2F4;
  transition: ease background-color 300ms;

  padding: 6px 14px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 7px;

  cursor: pointer;

  transition: .4s;
}

.left-type-box .checkmark div{
  width: 12px;
  height: 12px;
  background-image: url(/static/IMG/IMG-SEARCH/tick.png); 

  transition: .4s;
}

.left-type-box p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #4F505A;
}

/* ---------------------- Hover ---------------------- */
.left-type-box:hover .checkmark {
  background: #5594b0;
}
.left-type-box:hover .checkmark p {
  color: white;
}
.left-type-box:hover .checkmark div{
  background-image: url(/static/IMG/IMG-SEARCH/tick2.png);
  transform: rotate(45deg);
}

/* ---------------------- Click ---------------------- */
.left-type-box input[type="checkbox"]:checked ~ .checkmark {
  background-color: #0276AB;

  transition: ease background-color 300ms;
}
.left-type-box input[type="checkbox"]:checked + .checkmark p {
  color: white;
}
.left-type-box input[type="checkbox"]:checked + .checkmark div{
  background-image: url(/static/IMG/IMG-SEARCH/tick2.png);
  transform: rotate(45deg);
}
/* Apply */
.left .apply{
  margin: auto;
}

.left .apply input[type=submit]{
  width: 140px;
  height: 40px;

  background: #0276AB;

  border: none;
  border-radius: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;

  cursor: pointer;
}

.left .apply input[type=submit]:hover{
  box-shadow: 1px 3px 10px #52a7cf;

  transition: ease box-shadow 300ms;
}

/*-----------RIGHT----------*/
.section-2 .right {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.section-2 .right .top {
  width: 800px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.section-2 .right .top p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #292929;
}

.section-2 .right .bottom {
  width: 800px;
  height: 1295px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}